<html lang="en">
    <head>
        <title>Welcome - Braintree Gateway</title>
    </head>
    <body>
        <form id="form" action="{{ path('kairos_subscription_payment', { 'customerId': customer.id }) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
        {% autoescape false %}
        {{ kairos_subscription_js.getScript('form') }}
        {% endautoescape %}
    </body>
</html>

